@import "startPage.less";

.main {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ttt {
  transition-duration: 2s;
  opacity: 0.1;
  &:hover {
    background-color: green;
  }
  &:before {
    content: 'adsfadf';
  }
}